{% extends "::base.html.twig" %}

{% block title %}Ваш результат
{% endblock title %}

{% block content %}
{% for scalevalue in scales %}
     <p> Ваша оценка: {{ scalevalue }} </p>
{% endfor %}
{% endblock content %}

