{% extends "::base.html.twig" %}

{% block title "Hello! " %}

{% block content %}
    <h1>Вітаємо на нашому сайті!</h1>
<p>Даний сайт призначений для розробки тестів та реалізації масового опитування згідно розроблених тестів.</p>
{% endblock %}


{% set code = code(_self) %}
