<doctype html>
<html>
<head>
 <title> Hello! </title>
</head>
<body>
    <h1>Hello, everybody!</h1>
<p> This is a simple Twig's template without any extention (plain html)</p>
<p> <a href="/">Return to the main page</a> </p>

</body>
</html>