{% extends "::base.html.twig" %}

{% block title "Список тестов " %}

{% block content %}
    <h1>Зараз доступні наступні тести:</h1>
    <div class="row">
        <div class="col-sm-6 col-md-4">

        {%  for test in tests %}
            <div class="thumbnail">
                <div class="caption">
                    <h3>{{ test.testName }}</h3>
                    <p> {{ test.testDescription }}</p>
                    <p><a href="{{path('_testview',{'id': test.id}) }}" class="btn btn-primary" role="button">Пройти тест</a> </p>
                </div>
            </div>
   {%  endfor%}
        </div>
    </div>
{% endblock %}


{% set code = code(_self) %}
