<ul>
        {%  for test in tests %}
                <li>
                <a href="{{path('_testview',{'id': test.id}) }}"> {{ test.testName |dotdotdot}}</a>
                </li>
   {%  endfor%}
</ul>